RUST_LOG=info,challenge_batch_proxy=trace,tower_http=debug,axum::rejection=debug
BIND_HOST=0.0.0.0:3000
EMBEDDING_SERVICE_URL=http://localhost:8080

# Embedding batch configuration
EMBEDDING_BATCH_DURATION_MS=200
EMBEDDING_BATCH_SIZE=20
EMBEDDING_USE_BATCH=true
